@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: gray;
  font-family: "Trebuchet MS", Helvetica;
}

header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%; /*отступы*/
  background: transparent; /*прозразный слой*/
  float: left;
  position: fixed;
}

header #logo {
  color: white;
  cursor: pointer;
  text-align: center;
  margin-left: 40px;
}

header #logo span {
  font-size: 2.9;
  line-height: 45px;

  font-family: "Lobster", serif;
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.9em;
  }
  #about {
    float: right;
    width: 67%;
  }
}

@media (max-width: 700px) {
  #logo {
    margin-top: 15px;
    float: left;
    width: 30%;
    font-size: 1.5em;
  }
  #about {
    float: left;
    width: 100%;
  }
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {
  color: #fff;
}

#about > a:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

.fixed {
  z-index: 5000;
  background-color: #fff;
  border-bottom: 1px solid silver;
}

header.fixed #logo {
  color: #343434;
}

.fixed #about a {
  color: #343434;
}

#top {
  width: 100%;
  height: 1000px;
  background-image: url(https://a4files.ru/content/uploads/2018/02/list-v-lineiky-kosuyu-a4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #2e3a44;
  text-align: center;
}

#top h1 {
  padding-top: 30%;
}

#top h3 {
  color: #ccc;
}
